.wrapper{
    background-color: black;
    width: 606px;
    height: 606px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.row{
    background-color: darkolivegreen;
}