.board {
  background-color: black;
  width: 606px;
  height: 606px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  background-color: darkolivegreen;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.infoBox {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
}

.FirstPlayerField {
  background-image: url("./images/cross.png");
}

.SecondPlayerField {
  background-image: url("./images/circle.png");
}
